html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background-color: cornflowerblue;
    height: 680px;
    width: 500px;
    overflow: auto;
}

.display-container {
    height: 110px;
    width: 450px;
    background-color: white;
}

.display-number {
    font-size: 35px;
    text-align: right !important;
}

.total{
    font-size: 20px;
    text-align:right !important;

}

#number {
    width: 360px;
    height: 50px;
}

.hidden{
    visibility: hidden;
}

.operation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.operation-buttons:hover{
    opacity: 0.5;
}

.operation-buttons:active{
    background-color: darkgrey;
    color: white;
}

.sign{
    font-size: 30px;
    font-weight: bold;
}

.back-button{
    height: 30px;
}

.col-2{
    width: auto;
}

/********************************************************************************** Gradient ****************************************************************/
@keyframes shine {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }

    80% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }

    100% {
        transform: translateX(100%) translateY(100%) rotate(30deg);
    }
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.box--gradient {
    display: flex;
    height: 300px;
    margin: 0 10px;
    position: relative;
    width: 300px;
    z-index: 0;
    overflow: hidden;
    p

{
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin: 0;
    font-size: 30px;
}

&:after {
    content: '';
    top: 0;
    transform: translateX(100%) rotate(30deg);
    width: 300%;
    height: 300%;
    position: absolute;
    z-index: 1;
    animation: shine 3s infinite ease-in;
    background: linear-gradient( to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(128,186,232,0) 100%);
}

&.silver {
    background: linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
}

&.gold {
    background: linear-gradient( to bottom, #c39738, #deb761, #c39738);
    &:after

{
    animation-delay: 1s;
}

}

&.platinum {
    background: linear-gradient( to bottom, #d5d7e5, #eee, #d5d7e5);
    &:after

{
    animation-delay: 2s;
}

}
}